@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Category</h2>
<div class="card">
    <div class="card-body">
        <p>
            <button class="btn btn-rounded  btn-primary" data-toggle="modal" data-target="#popupModal"><i class="glyphicon glyphicon-plus"></i>Create New</button>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbl_Categories"></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="popupModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="id" name="id" placeholder="TV">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Television ect..">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editor" name="editor" placeholder="About a television ect..">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-save">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Merge Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">From ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="fromId" name="fromId" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">To ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="toId" name="toId" placeholder="TV etc....">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-confirm">Confirm Merge</button>
            </div>
            <div class="text-center">@Html.PagedListPager((IPagedList)ViewBag.cat, page => Url.Action("Index", new { page = page, key = ViewBag.key }))</div>
            
        </div>
    </div>
</div>
@section scripts{
    <script>
        var edit = false;
        function LoadCategory() {
            $.ajax({
                type: 'GET',
                url: 'Category/GetAll',
                success: function (res) {
                    var rows = '';
                    $.each(res, function (idx, item) {
                        rows += `<tr>
                                     <td>${item.CategoryId}</td>
                                     <td>${item.CategoryName}</td>
                                     <td>${item.Description}</td>
                                     <td>
                                     <button data-id="${item.CategoryId}" class="btn btn-warning btn-edit" data-toggle="modal" data-target="#popupModal">Edit</button>
                                    <button data-id="${item.CategoryId}" class="btn btn-warning btn-merge" data-toggle="modal" data-target="#exampleModal">Merge</button>
                                  <button data-id="${item.CategoryId}" class="btn btn-danger btn-del" >Delete</button>
                                 </td>
                                 </tr>`;
                    });
                    $(".tbl_Categories").html(rows);
                }
            })
        }
        $(function () {
            LoadCategory();
            $("#popupModal").on('hide.bs.modal', function () {
                $("#id").removeAttr("readonly");
                $("#id").val("");
                $("#name").val("");
                $("#editor").val("");
                edit = false;
            })
            $(document).on("click", ".btn-edit", function () {
                var id = $(this).data("id");
                edit = true;
                $.ajax({
                    type: 'GET',
                    url: 'Category/Update/' + id,
                    success: function (res) {
                        $("#id").attr("readonly", "readonly");
                        $("#id").val(res.CategoryId);
                        $("#name").val(res.CategoryName);
                        $("#editor").val(res.Description);
                        $("#popupModal").modal('show');
                    }
                })
            })
            $(".btn-save").click(function () {

                var cat = {
                    CategoryId: $("#id").val(),
                    CategoryName: $("#name").val(),
                    Description: $("#editor").val()
                }

                var _url = edit ? 'Category/Update/' : 'Category/Create/'

                $.ajax({
                    type: 'POST',
                    url: _url,
                    data: cat,
                    success: function (res) {
                        alert(res.message);
                        LoadCategory();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })

            })
            $(document).on("click", ".btn-del", function () {
                var result = confirm('Are you really want to delete this?');
                if (result) {
                    var id = $(this).data("id");
                    console.log(id);
                    $.ajax({
                        type: 'GET',
                        url: 'Category/Delete/' + id,
                        success: function (res) {
                            alert(res.message);
                            LoadCategory();
                        }
                    })
                }
            })
            $(document).on("click", ".btn-merge", function () {
                var id = $(this).data("id");
                $("#fromId").val(id);
                $("#exampleModal").modal('show');
            })
            $(document).on("click", ".btn-confirm", function () {
                console.log($("#fromId").val());
                console.log($("#toId").val());
                $.ajax({
                    type: 'POST',
                    url: 'Category/Merge',
                    data: {
                        FromID: $("#fromId").val(),
                        ToId: $("#toId").val()
                    },
                    success: function (res) {
                        alert(res.message);
                        LoadCategory();
                    }
                })
            })
        })
    </script>
}
