
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin List</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login Name</th>
                <th>Password</th>
                <th>Created</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class ="tbl_Admin"></tbodyclass>
    </table>
</div>
@section scripts{
    <script>
        var url = '/Admin/Home/';
        function loadAdmin() {
            $.ajax({
                type: 'GET',
                url: url + 'GetAll',
                success: function (kq) {
                    console.log(kq);
                    var rows = '';
                    $.each(kq, function (idx, item) {
                        rows += `<tr>
                                    <td>${item.AdminId}</td>
                                    <td>${item.LoginName}</td>
                                    <td>${item.Password}</td>
                                    <td>${item.Created}</td>
                                    <td>${item.Status}</td>
                                            <td>
                                                <button data-id="${item.AdminId}" class="btn btn-warning btn-edit">Edit</button>
                                                <button data-id="${item.AdminId}" class="btn btn-danger btn-del">Delete</button>
                                            </td>
                                 </tr>`;
                    });
                    $(".tbl_Admin").html(rows);
                }
            })
        }
        $(function () {
            loadAdmin();
        })
    </script>
}